<!DOCTYPE html>
<html lang="en">

<head>
    <style type="text/css">
        body {
            background: #c8e6f5 !important;
        }

        body {
            font-family: 'Oswald', sans-serif !important;
        }

        div {
            margin-top: 200px;
        }
    </style>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Counter</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>


</head>

<body>
    <div class="text-center">
        <h1>Counter</h1>
        <h2><%= count %> times</h2>

        <br>

        <form action="/add" method="post">
            <input type="submit" value="Add 2">
        </form>


        <br>

        <form action="/reset" method="post">
            <input type="submit" value="Reset">
        </form>


    </div>


</body>

<script src="index.js"></script>

</html>